body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}
.container {   
    width: 15%;
    background-color: rgb(224, 168, 48);
    color: white;
    padding: 50px;
    border: 10px solid rgb(83, 32, 9);
}
.name{
    text-align: center;
    font-size: 3rem;
}
h1, h2 {
    font-weight: bold;
    font-size: 2rem;
}
ul {
    margin-top: 10px;
}
ul li {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}